.advantages {
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
  background: #fbfbfb;
  border-radius: 40px;
  overflow: hidden;
}
.advantages__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #4169e1;
  position: relative;
  z-index: 5;
  margin-bottom: 22px;
}
.advantages__title-wrapper {
  position: relative;
  z-index: 5;
}
.advantages__back {
  position: absolute;
  right: -70px;
  bottom: 0;
  z-index: 2;
}
.advantages__up {
  position: absolute;
  right: 0;
  bottom: -56px;
  z-index: 6;
}
.advantages__btn {
  font-weight: 400;
  color: var(--white);
  border-radius: 10px;
  background: linear-gradient(135deg, #4169e1 0%, #1b3667 100%);
  padding-left: 7px;
  padding-right: 7px;
}
.advantages__subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #181718;
  margin-bottom: 84px;
}
.advantages__subtitle-wrapper {
  margin: 0 auto;
  max-width: 559px;
}
.advantages__cards {
  display: flex;
  gap: 10px;
}
.advantages__card {
  width: 420px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 70px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(141deg, #1b3667 0%, #4169e1 47.4%, #1b3667 100%);
}
.advantages__card-img {
  position: absolute;
  top: -55px;
}
.advantages__card-name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: var(--white);
  margin-bottom: 20px;
}
.advantages__card-descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--white);
}
.advantages__card-descr-bold {
  font-weight: 600;
}
// ////////////////////////////////////////////////////////////////////
@media(max-width:1293px) {
  .advantages .clear {
    display: none;
  }
  .advantages__title {
    margin-bottom: 49px;
  }
  .advantages__back{
    right: 127px;
  }
  .advantages__up {
    right: 210px;   
  }
}
@media(max-width:1161px) {
  .advantages .drop {
    display: block;
  }
}
@media(max-width:821px){
  .advantages {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .advantages__title {
    font-size: 22px;
  }
  .advantages__up {
    width: 214px;
    height: 44px;
    bottom: -38px;
  }
  .advantages__back {
    width: 218px;
    height: 24px;
    right: 153px;
    bottom: 1px;
  } 
  .advantages__subtitle {
    font-size: 14px;
    margin-bottom: 35px;
  }
  .advantages__cards {
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
  .advantages__card-img img {
    width: 60px;
    height: 60px;
  }
  .advantages__card-img {
    top: -28px;
  }
  .advantages__card {
    padding-top: 35px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .advantages__card-name {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .advantages__card-descr {
    font-size: 13px;
  }
}
@media (max-width: 505px) {
  .advantages__up {
    right: 101px;
}
.advantages__back {
    right: 42px;
}
}
@media (max-width: 453px) {
  .advantages__card {
    width: 100%;
  }
}
@media (max-width: 387px) {
  .advantages__up {
    right: 37px;
}
.advantages__back {
    right: -17px;
}
}