.card {
  padding-bottom: 50px;
}
.card__container {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 32px;
  background: var(--white);
  border-radius: 10px;
  background: url('../../img/card/card-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.card__logo {
  margin-bottom: 20px;
}
.card__wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}
.card__descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #4169e1;
  background: var(--white);
  border-radius: 10px;
  padding: 16px 19px 12px 40px;
}
.card__bold {
  font-weight: 600;
}
.card__btn {
  padding: 30px 68px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--white);
}
.card__contact {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #181718;
}
.p600 {
  font-weight: 600;
}
.card__container {
  padding-right: 20px;
}
// /////////////////////////////////////////////////
@media (max-width: 1000px) {
  .card__contact {
    display: none;
  }
  .card__wrapper {
    flex-direction: column;
  }
  .card__logo {
    text-align: center;
  }
  .card__container {
    padding-bottom: 20px;
  }
  .card__descr {
    font-size: 15px;
    padding: 10px;
  }
  .card__btn {
    font-size: 16px;
    padding: 20px 83px;
  }
}
@media (max-width: 360px) {
  .card__btn {
    padding: 20px 53px;
  }
}