.financing {
  padding-bottom: 50px;
}
.financing__wrapper {
  background: linear-gradient(135deg, #4169e1 0%, #4169e1 100%);
  border-radius: 10px;
  padding-top: 44px;
  padding-bottom: 44px;
  padding-left: 140px;
  padding-right: 140px;
}
.financing__title {
  position: relative;
  z-index: 10;
  text-align: center;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: var(--white);
  margin-bottom: 26px;
}
.financing__title-btn {
  background: var(--white);
  color: #104D87;
  border-radius: 10px;
  padding: 2px 14px
}

.financing__card {
  position: relative;
  border-radius: 10px;
  width: 312px;
  height: 163px;
  background: linear-gradient(135deg, #4169e1 0%, #1b3667 100%);
  padding: 15px;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
  z-index: 2;
  margin: 5px;
  // margin-top: 5px;
  // margin-bottom: 5px;
}
.financing__card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.financing__card-descr {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: var(--white);
}
.financing__card-btn {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #4169e1;
  margin-top: auto;
  background: var(--white);
  padding-top: 10px;
  padding-bottom: 8px;
  border-radius: 10px;
  transition: all 0.5s ease;
  &:hover {
    color: var(--white);
    background: linear-gradient(135deg, #4169e1 0%, #1b3667 100%);
  }
}
.financing__card-img {
  z-index: 5;
  position: absolute;
  right: 11px;
  top: 14px;
}
.financing__card:hover {
  background: var(--white);
}

.financing__card:hover .financing__card-descr {
  color: #4169e1;
}

.financing__card:hover .financing__card-btn {
  color: var(--white);
  background: linear-gradient(135deg, #4169e1 0%, #1b3667 100%);
}
.financing__card:hover .financing__card-img { 
  background-image: url('../../img/financing/wallet-blue.svg');
}
.financing__card-img {
  background-image: url('../../img/financing/wallet.svg');
  width: 30px;
  height: 30px;
}
.slick-slider {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10 !important;
}
.financing__button-next {
  position: absolute;
  right: 41px !important;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.financing__button-prev {
  position: absolute;
  left: 41px !important;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.financing__cash-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 1;
}
.financing__cash-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 1;
}
.financing__wrapper {
  position: relative;
}
.financing__finger {
  position: absolute;
  bottom: 92px;
  left: 100px;
  z-index: 10;
}
.finansing__know {
  position: relative;
  z-index: 100;
  text-align: center !important;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  text-align: right;
  color: var(--white);
}
.financing__card {
  // margin-left: 161px;
}
.slick-slide {
  margin: 0 20px; /* Измените отступы между слайдами на 20 пикселей */
}

// .swiper-slide {
//   width: 311px !important;
// }
// /////////////////////////////////////////////////////////////////
@media (max-width:1311px) {
  .slick-slide {
    display: flex !important;
    justify-content: center;
}
}
@media (max-width: 1021px) {
  .financing__wrapper {
    padding-left: 100px;
    padding-right: 100px;
  }
  .slick-slide:nth-child(even){
    // margin-right: 30px;
  }
  .swiper-slide {
    width: unset;
  }
  .financing__finger {
    display: none;
  }
}
@media (max-width: 938px) {
  .financing__wrapper {
    padding-right: 50px;
    padding-left: 50px;
  }
  .swiper-slide {
    width: unset;
  }
  .slick-slide {
      margin: 0 44px;
  }
  }
@media (max-width: 885px) {
  .financing__wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .financing__title {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .finansing__know {
    font-size: 22px;
  }
  .financing__card {
    width: 300px;
    margin-bottom: 40px;
  }
  .financing__card-descr {
    font-size: 16px;
  }
  .financing__title-btn {
    display: inline-block;
  }
  .financing__button-prev {
    position: relative;
  }
  .financing__button-next {
    position: relative;
    margin-right: 20px;
  }
  .financing__btns {
    display: flex;
    justify-content: center;
    column-gap: 90px;
    margin-bottom: -27px;
            margin-left: 23px;
  }
}
@media (max-width: 452px) {
  .financing__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .slick-slide {
    margin-left: 31px;
    margin-right: 31px;
  }
  .financing__btns {
    margin-left: 19px;
  }
  .financing__cash-right, .financing__cash-left {
    display: none;
  }
  .financing__cash-mini {
    display: inline-block;
    width: 120%;
  position: absolute;
  top: 50%;
          transform: translateY(-50%) translateX(-26px);

  }
  .financing__wrapper {
     overflow: hidden;
  }
}