.footer {
  background: linear-gradient(137deg, #4169e1 0%, #4169e1 27.01%, #1b3667 100%);
  padding-top: 34px;
  padding-bottom: 39px;
}
.footer__wrapper {
  display: flex;
  gap: 37px;
}
.footer__mini {
  display: none;
}
.footer__left {
}
.footer__logo {
  margin-bottom: 36px;
}
.footer__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--white);
  margin-bottom: 20px;
}
.footer__left-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--white);
}
.footer__right {
  display: flex;
  gap: 69px;
}
.footer__list {
}
.footer__name {
  position: relative;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 110%;
  color: var(--white);
  margin-bottom: 20px;
  &--1 {
    &:after {
      content: "";
      position: absolute;
      bottom: -9px;
      left: -17px;
      width: 90px;
      height: 1px;
      background-color: var(--white);
      right: 0;
      margin: 0 auto;
    }
  }
  &--2 {
    &:after {
      content: "";
      position: absolute;
      bottom: -9px;
      left: -38px;
      width: 96px;
      height: 1px;
      background-color: var(--white);
      right: 0;
      margin: 0 auto;
    }
  }
  &--3 {
    &:after {
      content: "";
      position: absolute;
      bottom: -9px;
      left: -1px;
      width: 116px;
      height: 1px;
      background-color: var(--white);
      right: 0;
      margin: 0 auto;
    }
  }
}

.footer__ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__li a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: var(--white);
}
.footer__time {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__time-date {
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--white);
  ::before {
    content: url("../../img/footer/time.svg");
  }
}
.footer__geo {
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--white);
  ::before {
    content: url("../../img/footer/geo.svg");
  }
}
.bold {
  font-weight: 700;
  display: flex;
  gap: 5px;
  align-items: center;
}
.footer__email a {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: var(--white);
  display: flex;
  gap: 5px;
  align-items: center;
}
.footer__email {
  display: flex;
  gap: 5px;
  align-items: center;
}
.footer__email ::before {
  content: url("../../img/footer/mail.svg");
}
.footer__last {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__number a{
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: var(--white);
  &:before {
    content: url('../../img/footer/phone.svg')
  }
}
.footer__soc {
  display: flex;
  gap: 27px;
}
.footer__whats {
}
.footer__btn {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #244781;
  padding: 12px;
  background: var(--white);
  border-radius: 10px;
}
// ///////////////////////////////////////////////////////
@media(max-width: 1324px) {
  .footer__wrapper {
    display: none;
  }
  .footer__mini {
    display: block;
  }

  .footer__mini-wrapper {
    display: flex;
    margin-bottom: 20px;
  }
  .footer__ul--right {
    align-items: flex-end
  }
  .footer__list--right {
    display: flex;
    flex-direction: column;
    align-items: flex-end
  }
  .footer__name--2:after {
    left: 0;
  }
  .footer__mini-wrapper-2 {
    display: flex;
    margin-bottom: 20px;
  }
  .footer__mini-wrapper3 {
    display: flex;
    margin-bottom: 20px;
    gap: 23px;
  }
  .footer__email-mini {
    margin-bottom: 21px;
  }
  .footer__soc img{
    width: 24px;
  }
  .footer__mini-wrapper4 {
    display: flex;
    flex-direction: column;
  }
  .footer__mini-wrapper5 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
}
@media(max-width: 578px) {
  .footer__logo-mini {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__mini-wrapper {
    justify-content: space-between;
  }
  .footer__mini-wrapper5 {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__mini-wrapper3 {
    justify-content: space-between;
  }
  .footer__mini-wrapper4 {
    align-items: center;
  }
  .footer__time-date {
    flex-direction: column;
    align-items: flex-start
  }
  .footer__geo {
    flex-direction: column;
    align-items: flex-start
  }
  .footer__soc {
    gap: 17px;
  }
  .footer__btn {
    white-space: nowrap;
  }
  .footer {
    padding-bottom: 27px;
  }
} 